body {
    background: #fdffa1;
    color: rgb(91, 62, 18);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(91, 62, 18);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 30px;
}
h1 {
    display: flex;
    align-items: center;
    color: #ffffff;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fdffa1;
}

/* main container area beneath menu */
main {
    background: rgb(255, 255, 255);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(255, 255, 255)ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

h1{
    color:#fdffa1;
}


/* portfolio styles */
#interests {
    border: 4px #fdffa1 ;
    padding: 8px;  
    border-style:solid; 
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: rgb(91, 62, 18);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #ffffff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #ffffff;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }